@use "../abstract/variables" as v;
@use "../abstract/mixins" as m;

.guide {
  &__card {
    @include m.flex("", left, center);
    position: relative;
    width: 100%;
    background-color: v.$background-color;
    margin: 15px 0;
    padding: 5px;
    border-radius: 15px;
    @include m.greyShadow;
    cursor: pointer;

    &:hover {
      @include m.darkShadow;
      background-color: v.$bg-c-lightpink;
      & i {
        color: v.$primary-color;
      }
    }

    & .firstP {
      @include m.flex("", center, center);
      background-color: v.$primary-color;
      color: white;
      height: 24px;
      width: 24px;
      border-radius: 100%;
      position: absolute;
      left: -10px;
    }

    & i {
      margin: 0 30px;
    }

    & .secondP {
      font-weight: 500;
    }
  }
}
