@use "../abstract/variables" as v;
@use "../abstract/mixins" as m;

.c_footer {
  @include m.flex(column, start, start);
  padding: 20px;
  background-color: #2d3235;

  & p {
    color: white;
    font-family: v.$font-title;
    margin: 0 0 15px 0;
  }

  & a {
    text-decoration: none;
    color: white;
    line-height: 25px;

    .fa-utensils {
      margin-right: 15px;
    }

    .fa-handshake-angle {
      margin-right: 10px;
    }
  }
}
