@use "../abstract/variables" as v;
@use "../abstract/mixins" as m;

header {
  @include m.flex("", center, center);
  position: relative;
  padding-top: 5px;
  height: 50px;

  & h1 {
    font-family: v.$font-title;
    font-size: 28px;
  }

  & i {
    position: absolute;
    left: 20px;
    top: 20px;
  }
}
